<!DOCTYPE html>
<html lang="en">
  <%-include('head.ejs') %>

  <body>
    <div class="log">
      <input type="text" id="username" placeholder="username" />
      <input type="email" id="email" placeholder="email" />
      <button id="btn">SEND</button>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
